
.main {
  text-align: center;
  height: 500px;
  background-image: url("guitarist.jpg");
  background-repeat: repeat-y;
  background-size: 100%;
}
.title {
  color: #FFFFF0;
}
.block {
  width: 60%;
}
.sec {
  float: left;
  width: 33%;
  text-align: center;
}
.left {
  border-left-style: solid;
  border-width: thin;
}
.right {
  border-right-style: solid;
  border-width: thin;
}

.footer {
  margin-top: 300px;
  background-color: black;
  background-size: 100%;
  color: #FFFFF0;
}
